.comments-wrapper
	clear both

.comment-content a
	word-wrap break-word

.comment
	background-color #F5F5F5
	border #DDD
	scale padding .5 15px

.comment-metadata
	fs(.8)
	lh(.8)
	scale margin-bottom .5

.comment-author
	scale margin-bottom .5

.avatar
	padding-right 5px

.reply
	text-align right
