.main-feature
    background url(../img/header-bg.png)
    width 100%
.main-feature-content
    scale padding 5 0 2
.main-feature-body
    color #ffffff
    float right
    fs(2.25)
    font-family $font-family-bitter
    lh(2.25)
    font-weight bold
    text-shadow 0px 1px 3px rgb(0, 0, 0)
    text-shadow 0px 1px 3px rgba(0, 0, 0, 0.2)
    .em a
        color #eaba6d
        fs(5)
        &:hover
            text-decoration none
    .line
        display block
.main-feature-body-content
    scale margin-bottom 1
.feature-container
    &.grey
        background-color transparent
        border-top 3px solid $purple + 40%
        .feature-header
            color   #674397
        .feature-content
            color #444
    &.purple
        background #674397
        .feature-header
            color   #fff
        .feature-content
            color #dec3ff
            strong
                color   #fff
.feature
    scale margin-bottom 3
    scale padding-top 3
.feature-header
    color   #674397
    scale margin-bottom 1
    text-align center
    text-shadow 0 2px 3px #eee
    text-transform uppercase
    a:link, a:hover, a:active, a:visited
        text-decoration none
        color #674397
.feature-content
    color #777
    fs(1.2)
    line-height 1.5
    padding 0 24px
    .em
        color #e05048
        fs(2.25)
        lh(1.2)
        font-weight bold
.content
    background-color transparent
    border-top 3px solid $purple + 40%
    scale padding-top 2
.breadcrumbs
    fs(.8)
    margin-bottom 0
.entry
    scale margin-bottom 3
.entry-title
    color   #674397
    scale margin-bottom 2
    text-transform uppercase
.entry-content
    color #444
    fs(1)
    line-height 1.5
    .em
        color #e05048
        font-weight bold
.paypal-form
    scale(height, 3)

.event-table
    border-top 3px solid #3F3F3F
    border-bottom 1px solid #3F3F3F
    width 100%
    th, td
        padding-top 5px
        padding-bottom 5px
.event-year td
    border-top 1px solid #3F3F3F
    border-bottom 1px dotted #CCC
.event
    border-bottom 1px dotted #CCC
.event-date
    padding-left 20px
    width 20%
.event-title
    width 50%
.event-city
    width 20%
.event-state
    width 10%
.summary-title
    scale margin-bottom .5
    a:link
        color $purple-light
    a:hover
        text-decoration underline
    a:visited, a:active
        color $purple
.summary-date
    fs(.8)
    lh(.8)

.partner-logo-img
    display inline-block
    max-width 100%

unquote("@media screen and (max-width: " + $screen-sm-max + ") {")
.main-feature
    border-top 3px solid $purple + 40%
.main-feature-content
    scale padding 1 0
.main-feature-body
    float none
    text-align center
    .btn-primary
        width 100%
    .line
        display inline
unquote("}")

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.main-feature-body
    float none
    fs(1.5)
    line-height 1.5
    text-align center
    .em a
        fs(2)
    .btn-primary
        width 100%
    .line
        display inline
.main-feature-body-content
    scale margin-bottom .5
.feature
    scale margin-bottom 2
    scale padding-top 1.5
.feature-header
    scale margin-bottom .5
.feature-content
    fs(1.2 * $mobile-mult)
    padding 0 12px
    .em
        fs(2.25 * $mobile-mult)
.content
    scale padding-top 1
.breadcrumbs, .entry
    fs(.8 * $mobile-mult)
    padding 0 10px
.entry
    scale margin-bottom 1.5
.entry-title
    scale margin-bottom 1
.entry-content
    fs(1 * $mobile-mult)
.event-date
    padding-left 10px
.summary-date
    fs(.8 * $mobile-mult)
unquote("}")
