.footer
    background $grey-dark
    color $grey
    font-family $font-family-kreon
    scale padding 1 24px
    a
        color white
.footer, .footer p
    fs(.9)
    lh(.9)
.footer-nav
    li
        padding-right 15px
.copyright
    color #989b97
    margin-bottom 0
unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.footer
    scale padding .5 12px
.footer, .footer p
    fs(.9 * $mobile-mult)
unquote("}")
