.sidebar-nav-toggle-wrapper
	display none

.sidebar-collapse
	border none
	padding 0

.sidebar
	padding 0
	scale margin-top 1
	scale margin-bottom 2
	border-radius(15px)

.sidebar-title
	color $purple
	fs(1)
	font-weight normal
	scale margin-bottom .5

.sidebar-navs
	padding 0

.sidebar-nav
	border-bottom 1px solid rgba(0,0,0,0.1)
	color #999
	fs(.95)
	line-height 1.75
	list-style none
	vertical-align middle

.sidebar-nav-link
	color $purple
	display block
	font-weight bold
	padding 5px 0
	&:hover, &.active
		color #121214

.sidebar-nav-desc
	display block
	font-weight normal
	padding-left 1px

unquote("@media screen and (max-width: " + $screen-xs-max + ") {")
.sidebar
	padding 0
.sidebar-title
	float left
	scale margin .5 0 .5 10px
.sidebar-nav-toggle-wrapper
	background-color white
	border-bottom 1px dotted $grey
	display block
	scale height 2
	scale margin-bottom 1
.sidebar-nav-toggle-button, .sidebar-nav-toggle-button:hover
	background-color $purple-light
	border-radius 4px
	box-shadow none
	position relative
	color white
	float right
	padding 3px 10px
	scale height 1.5
	margin ($line-height-px/4) 10px
	border 1px solid $purple-dark
.sidebar-nav-toggle-button:hover
	background-color $purple-dark
unquote("}")
