.social-icon-link
	background-image url(../img/sprite-social-icons.png)
	display block
	height 38px
	text-indent -9999px
	transition background 0.3s ease 0s
	width 38px
	&:focus
		outline 0 none

.social-icon-facebook
	background-position 0 124px
	&:hover
		background-position 40px 124px

.social-icon-twitter
	background-position 0 82px
	&:hover
		background-position 40px 82px

.social-icon-subscribe
	background-position 0 167px
	&:hover
		background-position 40px 167px
